*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient(135deg,#00B7D4,#505488,#2F3F80,#141283cc,#5AA894,#fa2f7dbb);
    background-size: 500%;
    animation: famimado 6s infinite;
}
h2{
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}
form{
    background-color:rgba(134, 140, 141, 0.747);
    margin:auto;
    width:90%;
    height:90vh;
    max-width: 450px;
    padding: 4rem 4rem;
    border-radius: 25px;
    box-shadow: 0 0 6px 0 rgba(215, 222, 230, 0.856);
}
.form{
    width:100%;
    margin:auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
input{
    background: none;
    color:#ffffff;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color:#dacccc;
}
label{
    color:var(--colorTextos);
    font-size:16px;
    position: absolute;
    left:5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}
input:focus~label,input:valid~label{
    top:-14px;
    font-size: 12px;
    color:#074980;
}

.barra{
    position: absolute;
    display:block;
    width: 100%;
}

.barra::before{
    content:"";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3,#4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
.btn{
    align-content: center;
    width:auto;
    margin: 10px 15px;
    position:relative;
    display: inline-flex;

}


@keyframes famimado{
    0%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0% 50%;
    }
}